<footer class="text-center">
  <section class="container p-4 pb-0">
    <div class="d-flex justify-content-center gap-3 mb-0">
      <a href="#!" class="btn" aria-label="WhatsApp">
        <i class="bi bi-whatsapp fs-4"></i>
      </a>
      <a
        href="https://www.instagram.com/diu.cakes?igsh=MTZraHM1dWliMmZ0Zg%3D%3D&utm_source=qr"
        target="_blank"
        class="btn"
        aria-label="Instagram"
      >
        <i class="bi bi-instagram fs-4"></i>
      </a>
      <a href="#!" class="btn" aria-label="Facebook">
        <i class="bi bi-facebook fs-4"></i>
      </a>
    </div>
    <div class="p-0">
      <a href="#" target="_blank" aria-label="Ir para o site da BT Technology">
        <img
          style="max-width: 60px"
          src="../assets/logo-bt.png"
          alt="Logo BT Technology"
        />
      </a>
      | 2025 <i class="bi bi-c-circle"></i> Desenvolvido por Alberto Lima
    </div>
  </section>
</footer>
