<!-- Modal t1 -->
<div
  class="modal fade"
  id="modal-t1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-1.png"
          alt="Bolo de Chocolate"
        />
        <p>
          Tradicional bolo de chocolate fofinho com cobertura de brigadeiro de
          chocolate.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, chocolate
          em pó, fermento químico e leite condensado (na cobertura).
        </p>
        <p>
          *Opção para intolerantes à lactose : substituindo a cobertura por
          calda sem adição de leite.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t2 -->
<div
  class="modal fade"
  id="modal-t2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Churros
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-2.png"
          alt="Bolo de Chorros"
        />
        <p>
          Delicioso bolo com massa de canela e uma maravilhosa camada de doce de
          leite para cobrir essa doçura.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açucar refinado, canela em pó, fermento químico e leite condensado.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t3 -->
<div
  class="modal fade"
  id="modal-t3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Maçã com Canela
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-3.png"
          alt="Bolo de Maçã com Canela"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t4 -->
<div
  class="modal fade"
  id="modal-t4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Limão
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-4.png"
          alt="Bolo de Limão"
        />
        <p>
          Massa leve e saborosa de limão com cobertura de um maravilhoso mousse
          de limão.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açúcar refinado, limão, fermento químico, raspas de limão e leite
          condensado
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t5 -->
<div
  class="modal fade"
  id="modal-t5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Paçoca
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-5.png"
          alt="Bolo de Paçoca"
        />
        <p>
          Massa de paçoca com um leve toque de canela e cobertura de brigadeiro
          de paçoca.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açúcar refinado, canela, fermento químico, paçoca e leite condensado
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t6 -->
<div
  class="modal fade"
  id="modal-t6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cocada
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-6.png"
          alt="Bolo de Cocada"
        />
        <p>
          Maravilhosa massa de coco com camada de cocada para coroar essa
          delicia.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite de
          Coco, fermento químico, açúcar refinado e coco ralado.
        </p>
        <p>*Opção para intolerantes à lactose</p>

        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t7 -->
<div
  class="modal fade"
  id="modal-t7"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cenoura com Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-7.png"
          alt="Bolo de Cenoura com Chocolate"
        />
        <p>
          Tradicional bolo de cenoura com uma surpreendente cobertura de
          brigadeiro de chocolate.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo,leite,
          açúcar refinado, cenoura, fermento químico, leite condensado e
          chocolate em pó.
        </p>
        <p>
          *Opção para intolerantes à lactose: substituindo a cobertura por calda
          sem adição de leite.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>
