<!-- Modal t1 -->
<div
  class="modal fade"
  id="modal-t1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-1.png"
          alt="Bolo de Chocolate"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t2 -->
<div
  class="modal fade"
  id="modal-t2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Churros
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-2.png"
          alt="Bolo de Chorros"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t3 -->
<div
  class="modal fade"
  id="modal-t3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cenoura com Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-3.png"
          alt="Bolo de Cenoura com Chocolate"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t4 -->
<div
  class="modal fade"
  id="modal-t4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Limão
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-4.png"
          alt="Bolo de Limão"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t5 -->
<div
  class="modal fade"
  id="modal-t5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Paçoca
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-5.png"
          alt="Bolo de Paçoca"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t6 -->
<div
  class="modal fade"
  id="modal-t6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cocada
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-6.png"
          alt="Bolo de Cocada"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t7 -->
<div
  class="modal fade"
  id="modal-t7"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Maçã com Canela
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/bolo-7.png"
          alt="Bolo de Mação com Canela"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>
