<!-- Modal e1 -->
<div
  class="modal fade"
  id="modal-e1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Pão de Mel
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/pao-de-mel.png"
          alt="Bolo de Pão de Mel"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal e2 -->
<div
  class="modal fade"
  id="modal-e2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Ninho
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/ninho.png"
          alt="Bolo de Ninho"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal e3 -->
<div
  class="modal fade"
  id="modal-e3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Choconinho
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/choconinho.png"
          alt="Bolo de Choconinho"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal e4 -->
<div
  class="modal fade"
  id="modal-e4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Prestigio
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/prestigio.png"
          alt="Bolo de Prestigio"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal e5 -->
<div
  class="modal fade"
  id="modal-e5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Sensação
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/sensacao.png"
          alt="Bolo de Sensação"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal e6 -->
<div
  class="modal fade"
  id="modal-e6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Coco
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-especiais/coco.png"
          alt="Bolo de Coco"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          optio voluptas doloribus cumque aliquid, architecto
        </p>
        <p>
          <strong>Ingredientes:</strong> consectetur nemo veritatis incidunt
          doloremque iusto, ea quaerat nostrum! Impedit laborum ipsa nobis amet
          commodi.
        </p>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$19,00</p>
          <p class="fw-bold precos m-0">M - R$30,00</p>
          <p class="fw-bold precos m-0">G - R$42,00</p>
        </div>
      </div>
    </div>
  </div>
</div>
