/* Variáveis */
:root {
  --bege: #e6e0d6;
  --marrom-escuro: #816d4f;
  /* --marrom-claro: #e5dbd0; */
  --marrom-claro: rgb(226, 199, 171);
  --font-titulo: "Great Vibes", cursive;
}

/* Reset e base */

body {
  font-family: "Barlow", sans-serif;
  color: #000000;
  /* background-color: rgba(128, 0, 128, 0.04); */
  background: linear-gradient(
    to right,
    rgba(128, 0, 128, 0.09),
    rgba(128, 0, 128, 0.01)
  );
}

/* Header e navbar */

.navbar-color {
  background-color: var(--marrom-claro) !important;
}

.navbar-color .nav-link,
.navbar-color .navbar-brand,
.navbar-color .offcanvas-title {
  color: #000000 !important;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.font-titulo {
  font-family: var(--font-titulo);
  color: #800080;
}

/* Offcanvas */

.offcanvas-body .nav-link {
  transition: color 0.3s;
}

.offcanvas-body .nav-link:hover {
  color: #800080 !important;
  text-decoration: underline;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Cards */

.clickable-card {
  margin-bottom: 1.5rem;
}

.card[data-bs-toggle="modal"] {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card[data-bs-toggle="modal"]:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.precos {
  color: #800080;
}

/* Footer */

footer {
  background-color: var(--marrom-claro);
}

footer a {
  text-decoration: none;
}

section a i:hover {
  color: #800080;
}

/* Contato */

ul li a.btn {
  color: #000000;
  transition: color 0.3s ease;
}

ul li a.btn:hover {
  color: #800080 !important;
}

/* Saiba mais */

.saiba-mais-botao {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  background-color: #f8f9fa;
  color: #800080;
  border: 1px solid #800080;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.saiba-mais-botao:hover {
  background-color: #800080;
  color: white;
}

/* ul li a.btn {
  color: #000;
  background-color: var(--marrom-claro);
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  text-align: left;
  padding: 1rem 1.5rem;
  border-radius: 12px;
}

ul li a.btn:hover {
  color: #800080 !important;
  background-color: #f4ebf7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
} */
